#container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s m m m m "
    "s b b b b ";
}

.side-nav{
    grid-area: s;
    display: grid;
    background: purple;
    align-items: center
}

#naVnameHead{
    justify-self: left;
    
}


.mainMsgArea{
    display: grid;
    grid-area: m;
    background: lightgrey;
}

.leftMsg{
    height: 25px;
    width: fit-content;
    background: gray;
    padding: 10px;
    margin: 15px;
    border-radius:5px ;
    font-family: 'Sofia';font-size: 22px;

}

.rightMsg{
    height: 25px;
    width: fit-content;
    background: green;
    justify-self: end;
    padding: 10px;
    margin: 15px;
    border-radius:5px ;

}

.time{
    font-family: 'Sofia';font-size: 10px;
}

.texting{
    font-family: 'Sofia';font-size: 22px;
}

.bottom{
    grid-area: b;
    background: white;
}

#inputT{
    width: 75%;
    height: 30px;
    padding: 5 ;

}

#theBotton{
    width: 20%;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;}